@import 'src/styles';

.main-app-container{
  padding: 10px 30px 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  width: 80%;
  margin: 10px auto;
  background: $secondary;
}
