@import '~normalize.css';

$primary: #2c7c71;
$bg-color: #1697a3;
$primary-btn-color: #0b615b;
$primary-text: #21305b;
$secondary: #fff;

/*
 * default styling for buttons in application
 */
@mixin buttonStyling($buttonColor: $primary-btn-color) {
  background: $buttonColor;
  color: $secondary;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  padding: 5px;
  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    opacity: 0.7;
  }
}

body{
  background: $bg-color;
}
